.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../images/wall.png");
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  height: 90px;
  width: 100%;
  background: #000;
  color: #fff;
  border-bottom: 5px solid #ffd700;
}


.menu-time h2:nth-child(1),
.menu-score h2:nth-child(1) {
  color: #ff0000;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
  margin-top: 1rem;
}

.menu-lives {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.menu-lives img {
  width: 70px;
}


.panel {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 150px;
  width: 150px;
  border: 1px solid #000;
  background: #1aeaa5;
}

.enemy {
  background-image: url("../images/ralph.png");
  background-size: cover;
}

